In [1]:
import pandas as pd
from sqlalchemy import create_engine
from time import time

In [4]:
df = pd.read_csv('green_tripdata_2019-10.csv')

C:\Users\DELL\AppData\Local\Temp\ipykernel_51924\2156106363.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('green_tripdata_2019-10.csv')

In [5]:
df.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2.0,2019-10-01 00:26:02,2019-10-01 00:39:58,N,1.0,112,196,1.0,5.88,18.0,0.50,0.5,0.00,0.0,NaN,0.3,19.30,2.0,1.0,0.0
1,1.0,2019-10-01 00:18:11,2019-10-01 00:22:38,N,1.0,43,263,1.0,0.80,5.0,3.25,0.5,0.00,0.0,NaN,0.3,9.05,2.0,1.0,0.0
2,1.0,2019-10-01 00:09:31,2019-10-01 00:24:47,N,1.0,255,228,2.0,7.50,21.5,0.50,0.5,0.00,0.0,NaN,0.3,22.80,2.0,1.0,0.0
3,1.0,2019-10-01 00:37:40,2019-10-01 00:41:49,N,1.0,181,181,1.0,0.90,5.5,0.50,0.5,0.00,0.0,NaN,0.3,6.80,2.0,1.0,0.0
4,2.0,2019-10-01 00:08:13,2019-10-01 00:17:56,N,1.0,97,188,1.0,2.52,10.0,0.50,0.5,2.26,0.0,NaN,0.3,13.56,1.0,1.0,0.0

In [6]:
df.count()

VendorID                 387007
lpep_pickup_datetime     476386
lpep_dropoff_datetime    476386
store_and_fwd_flag       387007
RatecodeID               387007
PULocationID             476386
DOLocationID             476386
passenger_count          387007
trip_distance            476386
fare_amount              476386
extra                    476386
mta_tax                  476386
tip_amount               476386
tolls_amount             476386
ehail_fee                     0
improvement_surcharge    476386
total_amount             476386
payment_type             387007
trip_type                387005
congestion_surcharge     387007
dtype: int64

In [7]:
# Now we need to create a schema for postgres based on this data

In [8]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data')) # This function is included in pandas and takes the df and creates a schema for a table.

CREATE TABLE "yellow_taxi_data" (
"VendorID" REAL,
  "lpep_pickup_datetime" TEXT,
  "lpep_dropoff_datetime" TEXT,
  "store_and_fwd_flag" TEXT,
  "RatecodeID" REAL,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "passenger_count" REAL,
  "trip_distance" REAL,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "ehail_fee" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "payment_type" REAL,
  "trip_type" REAL,
  "congestion_surcharge" REAL
)

In [29]:
# The pickup and dropoff datetime columns are in the wrong datatype. we need to convert them to the correct dtype before we can load the data

In [30]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [31]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data'))

CREATE TABLE "yellow_taxi_data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "RatecodeID" INTEGER,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL
)

In [32]:
# This sql statement may or may not work with postgres. To make sure it does, we need to create
# a connection with our postgres database and generate the statement after that so that it creates
# one that works with it. we will also need to create a conn to load the data

In [33]:
# We'll use SQLAlchemy to create the connection

In [10]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [11]:
engine.connect()

In [ ]:
df.to_sql()

In [36]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine)) # This gives a DDL statement specific to postgres

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [37]:
# the csv file contains more than 1 mil rows. we need to load the data into the database in batches. we will use iterators to do that

In [53]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv', iterator=True, chunksize=100000) # Shift + Tab to open function doc

In [54]:
df = next(df_iter)

In [55]:
len(df)

100000

In [56]:
# convert datetime again since we loaded the csv file again
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [57]:
# before inserting any data, we will insert 0 rows (only the header) so that postgres creates the table. 
df.head(0).to_sql(name='yellow_taxi_data',con=engine, if_exists='replace') # iif a table with the same name already exists, replace it

0

In [58]:
df.to_sql(name='yellow_taxi_data',con=engine, if_exists='append')

1000

In [59]:
for df in df_iter:

    t_start = time()
    
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

    df.to_sql(name='yellow_taxi_data',con=engine, if_exists='append') # now we want to append the data to the existing table

    print(f'Loaded a chunk... took {time() - t_start} seconds...')

Loaded a chunk... took 11.96114444732666 seconds...
Loaded a chunk... took 12.464523553848267 seconds...
Loaded a chunk... took 12.830395698547363 seconds...
Loaded a chunk... took 12.621350049972534 seconds...
Loaded a chunk... took 12.874757289886475 seconds...
Loaded a chunk... took 13.287838220596313 seconds...
Loaded a chunk... took 12.632690668106079 seconds...
Loaded a chunk... took 12.972598314285278 seconds...
Loaded a chunk... took 13.05931305885315 seconds...
Loaded a chunk... took 13.609736442565918 seconds...
Loaded a chunk... took 12.655574798583984 seconds...

C:\Users\DELL\AppData\Local\Temp\ipykernel_25056\1711724278.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  for df in df_iter:

Loaded a chunk... took 13.110235214233398 seconds...
Loaded a chunk... took 9.236985206604004 seconds...